.navigation {
  background-color: #ffffff;
  width: 220px;
  display: flex;
  margin: 20px auto;
  justify-content: center;
}
.link {
  color: #c4a0a097;
  text-decoration: none;
  font-weight: 600;
  font-size: 30px;
}
.activeLink {
  color: #427e607c;
  text-decoration: underline;
  font-size: 30px;
  text-decoration: none;
  justify-content: center;
}
