.authNav {
  display: flex;

  background-color: #f1e9da;

  color: #ffffff;
  align-items: center;
  margin: 10px auto;
  justify-content: space-around;
}
.activeLink {
  color: #000000;
  text-decoration: underline;
  font-size: 30px;
  text-decoration: none;
}
.link {
  color: #707070ba;
  text-decoration: none;
  font-weight: 600;
  font-size: 30px;
  text-decoration: none;
}
