.container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  align-items: center;
  margin-bottom: 20px;
  align-content: space-between;
  color: #000000;
  justify-content: space-between;
}
.welcomeMessage {
  font-size: 15px;
}
